[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://github.com/filecoin-project/filecoin-ffi.git
	branch = master
[submodule "extern/serialization-vectors"]
	path = extern/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors
[submodule "extern/DBC-filecoin-ffi"]
	path = extern/DBC-filecoin-ffi
	url = https://github.com/xjrwfilecoin/DBC-filecoin-ffi
[submodule "extern/xjrw-ffi"]
	path = extern/xjrw-ffi
	url = https://github.com/xjrwfilecoin/filecoin-ffi
